@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  src: url(../fonts/HelveticaNeue-Bold.ttf);
}

main {
  height: 100vh;
}

.virtecFont {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*crear una animacion de escribir texto dejando centrado el texto */

.write {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: typing 3.5s steps(60), forwards;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
